.App {
  background-color: "#FFFFFF";
}

@media (max-width: 1000px) {
  .NavComponent {
    position: relative;
    min-height: 60px;
    background-color: var(--primary-color);
    padding: 24px;
  }
  .navbarContents {
    position: absolute;
    padding: 44px 0px 24px 24px;
    left: 0px;
    z-index: 20;
    width: 50%;
    background-color: var(--primary-color);
  }
  .navbarContents div {
    height: 50px;
    padding-left: 24px;
    display: flex;
    align-items: center;
  }
  .NavComponent div {
    color: var(--white-color);
  }
  .NavComponent .menuButton {
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: fit-content;
    height: 100%;
  }
  .NavComponent .menuButton:hover {
    cursor: pointer;
  }
}
@media (min-width: 999px) {
  .NavComponent {
    background-color: var(--primary-color);
    min-height: 90px;
    max-height: 110px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
  }
  .navbarContents {
    color: var(--light-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .NavComponent div {
    padding: 0 12px;
    min-width: 60px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .NavComponent .menuButton {
    display: none;
  }
}

.navbarContents > div:hover {
  background-color: var(--secondary-color);
  opacity: 0.8;
  cursor: pointer;
}
.Games {
  background-color: var(--light-color);
}
.GameCard {
  border-radius: 16px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  min-width: 250px;
  position: relative;
}
.GameCard:hover {
  /* opacity: 0.7; */
  cursor: pointer;
}
.gameCardImage {
  border-radius: 16px;
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.gameCardRibbon {
  background-color: var(--secondary-color);
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  width: 80px;
  height: 40px;
  align-self: flex-end;
  justify-self: flex-end;
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.7);
  color: var(--light-color);
}
.selectedMenuItem {
  background-color: var(--secondary-color);
}
.gameFeed {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.gameCardPlayContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  bottom: 12px;
  width: 100%;
  row-gap: 3px;
  z-index: 10;
}
.gameCardName {
  background-color: var(--secondary-color);
  width: 100%;
  text-align: center;
  padding: 12px 0;
  margin: 0;
  color: var(--white-color);
}
.gameCardPlayButton {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 12px 24px;
  margin: 0;
  border-radius: 16px;
}
.gameCardPlayButton:hover {
  border: 2px solid var(--secondary-color);
  padding: 10px 22px;
}
.gameCardHovered {
  opacity: 0.2;
}
.gameCardJackpot {
  position: absolute;
  top: 0;
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  border-radius: 16px 16px 0 0;
  opacity: 0.8;
}
.gameCardJackpot h5 {
  color: var(--white-color);
  margin: 0;
  padding: 8px 0;
}