:root {
  --primary-color: #373737;
  --secondary-color:  #8DC63F;
  --light-color: #FCFCFC;
  --white-color: #FFFFFF;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
}